{
  "@comment": "SayHello from Greeter Service",
  "endpoint": "/greeting",
  "method": "GET",
  "backend": [
    {
      "url_pattern": "/greeter.Greeter/SayHello",
      "host": [
        "greeter:50051"
      ],
      "extra_config": {
        "backend/grpc": {}
      }
    }
  ]
}
